.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #0C365A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #01D167 !important;
}
.MuiAvatar-root.MuiAvatar-circular {
  background: aliceblue;
}

.transaction_card {
  background: #325BAF !important;
  height: 20px !important;
  width: 24px !important;
  border-radius: 43% !important;
}

.transaction_card > img {
  height: 7px!important;
  width: 8px!important;
}

img.MuiAvatar-img{
  width: 16px;
  height: 16px;
}

.slick-dots li{
  margin: 0;
}
.slick-dots li button:before {
  font-size: 16px !important;
  content: '' !important;
  height: 16px !important;
  width: 16px !important;
  border-radius: 8px !important;
  background-color: #01D167;
}

.slick-dots li.slick-active button:before {
  width: 24px !important;
  background-color: #01D167 !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
